body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 75px;
}

.header-btn {
  color: white;
  background-color: transparent;
  border: none;
  width: 100px;
}

.header-btn:hover {
  font-size: large;
}

.nav {
  background-color: #fbfbfd;
}

.nav-container {
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  margin: 0 auto;
}

.nav-item {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: blue;
  text-decoration: underline;
}

.section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-text {
  margin-bottom: 15px;
  text-align: center;
}

.section-text-small {
  color: #a8a8ab;
  font-size: small;
}

.section-text-large {
  font-size: 50px;
}

.section-button {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 35px;
}

.section-button:hover {
  cursor: pointer;
}

.section-link {
  color: blue;
}

.footer {
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 75px;
}

.footer-link {
  color: white;
}
